<!-- For landing page - Carousel slide -->
<div id="landing-slide" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicator">
        <% for(var index in landing.slogan){ %>
            <% if(index == 0){ %>
                <li data-target="#landing-slide" data-slide-to="<%= index %>" class="active"></li>
            <% }else{ %>
                <li data-target="#landing-slide" data-slide-to="<%= index %>" class></li>
            <% } %>
        <% } %>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Setting wrapper -->
        <% for(var index in landing.slogan){ %>
            <% if(index == 0){ %>
                <div class="item active">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1><%= landing.slogan[index].title %></h1>
                            <p><%= landing.slogan[index].detail %></p>
                            <% if(landing.slogan[index].link == true ){ %>
                                <p><a class="btn btn-lg btn-primary" href="<%= landing.slogan[index].link_href %>" role="button"><%= landing.slogan[index].link_name %></a></p>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }else{ %>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1><%= landing.slogan[index].title %></h1>
                            <p><%= landing.slogan[index].detail %></p>
                            <% if(landing.slogan[index].link == true ){ %>
                                <p><a class="btn btn-lg btn-primary" href="<%= landing.slogan[index].link_href %>" role="button"><%= landing.slogan[index].link_name %></a></p>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
    <!-- Carousel's control -->
    <a class="left carousel-control" href="#landing-slide" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="ture"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#landing-slide" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="ture"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
