<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Share-u-Life</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Left -->
            <ul class="nav navbar-nav">
                <!-- Put all link in here (Left) -->
                <% for(var index in link.left){ %>
                    <% if(link.left[index].type == "pure_link"){ %>
                        <% if( type == 'TW'){ %>
                            <li><a href="<%= link.left[index].link %>&username=<%= exist_article.user %>"><%= link.left[index].name.TW %></a></li>
                        <% } else if( type == 'US'){ %>
                            <li><a href="<%= link.left[index].link %>&username=<%= exist_article.user %>"><%= link.left[index].name.US %></a></li>
                        <% } %>
                    <% } else if(link.left[index].type == "dropdown"){ %>
                        <% if( type == 'TW'){ %>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= link.left[index].name.TW %><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <% for(var d_index in link.left[index].sublink ){ %>
                                        <li><a href="<%= url %><%= link.left[index].sublink[d_index].link %>"><%= link.left[index].sublink[d_index].name.TW %></a></li>
                                    <% } %>
                                </ul>
                            </li>
                        <% } else if( type == 'US'){ %>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= link.left[index].name.US %><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <% for(var d_index in link.left[index].sublink ){ %>
                                        <li><a href="<%= url %><%= link.left[index].sublink[d_index].link %>"><%= link.left[index].sublink[d_index].name.US %></a></li>
                                    <% } %>
                                </ul>
                            </li>
                        <% } %>
                    <% } %>
                <% } %>
            </ul>
            <!-- Search form in here -->
            <!--
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            -->
            <!-- Right -->
            <ul class="nav navbar-nav navbar-right">
                <% for(var index in link.right){ %>
                    <% if(link.right[index].type == "pure_link"){ %>
                        <% if( type == 'TW'){ %>
                            <li><a href="<%= link.right[index].link %>&username=<%= exist_article.user %>"><%= link.right[index].name.TW %></a></li>
                        <% } else if( type == 'US'){ %>
                            <li><a href="<%= link.right[index].link %>&username=<%= exist_article.user %>"><%= link.right[index].name.US %></a></li>
                        <% } %>
                    <% } else if(link.right[index].type == "dropdown"){ %>
                        <% if( type == 'TW'){ %>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= link.right[index].name.TW %><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <% for(var d_index in link.right[index].sublink ){ %>
                                        <li><a href="<%= url %><%= link.right[index].sublink[d_index].link %>"><%= link.right[index].sublink[d_index].name.TW %></a></li>
                                    <% } %>
                                </ul>
                            </li>
                        <% } else if( type == 'US'){ %>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= link.right[index].name.US %><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <% for(var d_index in link.right[index].sublink ){ %>
                                        <li><a href="<%= url %><%= link.right[index].sublink[d_index].link %>"><%= link.right[index].sublink[d_index].name.US %></a></li>
                                    <% } %>
                                </ul>
                            </li>
                        <% } %>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </div>
</nav> <!-- First outside navbar -->
