<html>
<head>
    <!-- Template -->
    <% include ../elements/meta %>
    <% include ../elements/lib %>
</head>
<header>
    <!-- Navbar goes here -->
    <% include ../elements/navbar_user %>
</header>
<body>
    <div class="w3-row-padding" id="articleboard">
        <!-- Template  -->
        <% for(var index in exist_article.obj){ %>
            <div class="w3-third w3-container" id="<%= exist_article.obj[index].dep %><%= exist_article.obj[index].lecturer %>">
                <!-- Custom department banner here -->
                <img src="http://i.imgur.com/RTx4hLq.jpg" alt="Norway" onclick="gotoEdit('<%= exist_article.obj[index].dep %>','<%= exist_article.obj[index].lecturer %>','<%= exist_article.obj[index].title %>')" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-khaki w3-round-large">
                    <br>
                    <p><b><%= exist_article.obj[index].dep %></b></p>
                    <p><%= exist_article.obj[index].title %></p>
                </div>
            </div>
        <% } %>
    </div>
</body>
<script>
function gotoEdit(department,user,title){
    // Goto Edit page
    // Reuse edit page ejs. Using type = "edit"
    window.location.replace('/content?etype=edit&dep='+department+'&lecturer='+user+'&title='+title);
}
</script>
</html>
