<html>
<head>
    <!-- Template -->
    <% include ../elements/meta %>
    <% include ../elements/lib %>
</head>
<header>
    <!-- Navbar goes here -->
    <% include ../elements/navbar_user %>
</header>
<body>
    <div class="w3-row-padding" id="articleboard">
        <!-- Template  -->
        <% for(var index in exist_article){ %>
            <div class="w3-third w3-container" id="<%= exist_article[index].dep %><%= exist_article[index].lecturer %>">
                <!-- Custom department banner here -->
                <input type="hidden" id="<%= index %>" value="<%= exist_article[index].title %>">
                <img src="<%= exist_article[index].img_url %>" alt="Norway" onclick="gotoEdit('<%= exist_article[index].dep %>','<%= exist_article[index].lecturer %>',<%= index %>)" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-khaki w3-round-large">
                    <br>
                    <p><b><%= exist_article[index].dep %></b></p>
                    <p><%= exist_article[index].title %></p>
                </div>
            </div>
        <% } %>
    </div>
</body>
<script>
function gotoEdit(department,user,index){
    var title = document.getElementById(index).value;
    // Goto Edit page
    // Reuse edit page ejs. Using type = "edit"
    window.location.assign('/content?etype=edit&dep='+department+'&lecturer='+user+'&title='+title);
}
</script>
</html>
